


       <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="http://localhost:4200/products">
      <img
        src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
        height="16"
        alt=""
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

   
    

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/products">AnaSayfa</a>
        </li>
      </ul>
      
      <!-- Left links -->

      <div class="d-flex align-items-center">
        

        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="email address" aria-label="Search">
        </form>

        <div class="row g-3 align-items-center">
          <div class="col-auto" >
            <label for="inputPassword6" class="col-form-label"></label>
          </div>
          <div class="col-auto">
            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="password">
          </div>
          <div class="col-auto">
            <span id="passwordHelpInline" class="form-text">
              
            </span>
          </div>
        </div>
        <button class="btn btn-outline-primary" type="submit">giriş yap</button>
        
      

        
      
        
         <button type="button" class="btn btn-primary me-3" onclick="window.location.href = 'http://localhost:4200/signUp';" >
          
       
          üye ol

           
        </button>
      
      
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" ><app-basket>
            </app-basket>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->